.heading-container {
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    display: flex; /* Włącz Flexbox */
    justify-content: left; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */
}


/* SEARCH BAR SETTINGS */
.search-bar {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start; /* Wyrównanie do lewej */
    align-items: center;
    width: 100%; /* Zapewnia pełną szerokość */
    padding-left: 21vw; /* Opcjonalny odstęp od lewej */
}

.search-bar .search-button{
    background: none;
}

.search {
    background-color: #D9D9D9;
    color: #000000;
    border-radius: 10px;
    padding: 5px 10px 5px;
    margin: 10px;
}

.search:focus {
    outline: none;
}

.search::placeholder {
    color: #222222; /* Kolor placeholdera */

}

.search-button .search-icon {
    width: 30px;
    height: auto;

    color:#56335E;

    transition: transform 0.3s ease;
}

.search-button .search-icon:hover {
    transform: scale(1.1);
}


/* CHAT SETTIGNS */

.chat-list {
    margin-left: 21vw;
}



.availableChat {
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;

    margin-top: 5px;   /* Margines na górze */
    margin-bottom: 5px; /* Margines na dole */

    padding: 10px; /* Zwiększony padding przy hoverze */
    padding-left: 15px; /* Opcjonalne: Dostosuj, jeśli chcesz symetrię */
    padding-right: 105px;

    border-radius: 15px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.availableChat:hover {
    background-color: #f8f8f8; /* Kolor podświetlenia */
    transform: scale(1.025); /* Powiększenie */
}


.chat-text {
    text-align: left;
    margin-left: 20px;
}

.chat-text h1 {
    font-size: 16px;
}

.chat-text p {
    padding-top: 7px;
    font-size: 14px;
}

.availableChat .chat-profile-pic {
    width: 50px;
    height: auto;

    border-radius: 50%;

}