/* SWIPE ARROWS */
.swipe-arrows{
    size: 2vw;
    background: transparent; /* Removes the default background */
    border: none; /* Removes the default border */
    padding: 0; /* Optional: remove extra padding */
    color: #56335E;
    
    transition: transform 0.3s ease; /* Optional: hover effect */
}

.swipe-arrows:hover{
    transform: scale(1.1); /* Slight zoom on hover */
}

.swipe-arrows .icon{
    width: 10vw;
    height: auto;
}

/* PET WINDOW */
.petWrapper {
    position: relative; /* Tworzy kontener, w którym tekst i obraz będą się znajdować */
    display: inline-block; /* Umożliwia dopasowanie do rozmiaru obrazu */  
}

.petName {
    position: absolute;
    top: 330px; /* Odległość od górnej krawędzi obrazu */
    left: 33px; /* Odległość od lewej krawędzi obrazu */
    padding: 5px; /* Opcjonalne odstępy wokół tekstu */
    font-size: 20px; /* Stały rozmiar tekstu */
    white-space: nowrap; /* Zapobiega zawijaniu tekstu */

    color: #f8f8f8; /* Kolor tekstu */
    font-family: Alata;
    font-size: 3vw; /* Rozmiar dynamiczny względem szerokości widoku */
}

.petImage {
    /* padding: 20px; */
    justify-items: center; /* Center-aligns items in the grid */
    position: relative;
    transition: filter 0.3s ease; /* Optional: hover effect */
}

.petImage img {
    width: 400px; /* Makes the images fill the grid cells */
    aspect-ratio: 1 / 1; /* Ensures square shape */
    object-fit: cover; /* Crops the image while maintaining its aspect ratio */
    border-radius: 10%; /* Optional: adds rounded corners */
}

.petImage:hover {
    filter: brightness(0.85);
}

.petImage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 25%);
    border-radius: 10%; /* Dopasowuje zaokrąglenie do obrazu */
    pointer-events: none; /* Umożliwia interakcje z obrazem */
}

.onImageButton {
    background: none;
    padding: 5px; /* Opcjonalne odstępy wokół tekstu */
}

.onImageButton .add2Fav {
    color:#f8f8f8;
    width: 70px;
    height: auto;

    position: absolute;
    top: 320px; /* Odległość od górnej krawędzi obrazu */
    left: 210px; /* Odległość od lewej krawędzi obrazu */

    transition: transform 0.3s ease, color 0.3s ease;
}

.onImageButton .textShelter {
    color:#f8f8f8;
    width: 70px;
    height: auto;

    position: absolute;
    top: 320px; /* Odległość od górnej krawędzi obrazu */
    left: 300px; /* Odległość od lewej krawędzi obrazu */

    transition: transform 0.3s ease, color 0.3s ease;
}

.onImageButton .textShelter:hover {
    transform: scale(1.1);
    color: #56335E;
}
.onImageButton .add2Fav:hover {
    transform: scale(1.1);
    color: #56335E;
}