.welcome-text {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Pozwala na zawijanie elementów, jeśli nie ma wystarczająco miejsca */
}

.add-icon {
    color: #D4A9DE;
    width: 140px;
    height: auto;

    transition: transform 0.3s ease, color 0.3s ease;
}

.add-icon .plus-icon{
    fill: #f8f8f8;
}

.icon-btn p {
    font-size: 20px;
}

.add-icon:hover {
    color: #56335E;
    transform: scale(1.05);
}

.add-photo {
    background-color: #F4E7F8;
    padding: 30px;
    border-radius: 25px;
    text-align: center;
    align-self: center;

}

.Popup {
display: flex;
    flex-direction: column;
    position: fixed;
    width: 60%;
    max-height: 90%; /* Keeps it from overflowing the screen */
}

.scrollable-popup {
    flex: 1;
    max-height: 100%; /* Keeps it from overflowing the screen */
    overflow-y: auto; /* Enable vertical scrolling */
}

.Popup::after {
    content: ''; /* Pseudo-element */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px; /* Wysokość gradientu */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)); /* Subtelny gradient */
    pointer-events: none; /* Zapobiega interakcji z pseudo-elementem */
    z-index: 3; /* Ustawienie odpowiedniego poziomu z-index, aby było widoczne nad tłem */
}

.scrollable-popup::-webkit-scrollbar {
    display: none; /* Ukrywa pasek przewijania */
}

.add-pet {
    justify-content: center;
    align-items: left;
    text-align: left;
} 

.Popup p {
    font-size: 16px;
    line-height: 1;
    margin: 10px 0px 10px;
}

.line {
    display: flex;
    margin-bottom: 5px; /* Odstęp między wierszami */
}

.line p {
    padding-right: 20px;
    width: 4vw;
}

.line input {
    padding: 5px 10px;
    height: 30px; /* Stała wysokość */
    border: 1px solid #050500;
    border-radius: 10px;
    background-color: #f8f8f8;
}

.line input:focus {
    outline: none;
}

.line select {
    padding: 5px 10px;
    height: 30px; /* Stała wysokość */
    border: 1px solid #050500;
    border-radius: 10px;
    background-color: #f8f8f8;
    font-size: 14px;
    color: #000; /* Tekst dropdown */
}

.line select:focus {
    outline: none; /* Usunięcie domyślnej obwódki */
}

.line select option:disabled {
    color: #7D7D7D; /* Wyszarzony tekst dla opcji 'Wybierz płeć' */
}

.textarea-box {
    display: grid;
    text-align: right;
}

.textarea-box textarea {
    padding: 5px 10px;
    height: 300px; /* Stała wysokość */
    border: 1px solid #050500;
    border-radius: 10px;
    background-color: #f8f8f8;
    font-size: 14px;
    color: #000; /* Tekst dropdown */
    resize: none; /* Disables resizing */
    font-family: Inter; /* Czcionka dla tekstu */
}

.textarea-box textarea:focus {
    outline: none; /* Remove outline when the textarea is focused */
}

textarea::placeholder {
    font-family: Inter; /* Czcionka placeholdera */
}

.textarea-box p {
    font-size: 14px;
}

.align-btn {
    text-align: right;
}

.align-btn .btn {
    background-color: #D4A9DE;
    color: #f8f8f8;
    font-size: 16px;
    border-radius: 15px;
    padding: 7px 30px 7px;
    margin: 10px;

    transition: transform 0.3s ease, background-color 0.3s ease;
}

.align-btn .btn:hover {
    transform: scale(1.025);
    background-color: #56335E;
}

