@font-face {
    font-family: 'Inter-Regular';
    src:url('../fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Alata-Regular';
    src:url('../fonts/Alata-Regular.ttf') format('truetype');
}


.screen{
    text-align:center;
    align-items: center;
    font-family: Inter-Regular, sans-serif;
    align-content: center;
    justify-content: center;
    padding-top:120px;
}


.welcome_text{
    font-family: Alata-Regular, sans-serif;
    font-size: 48px;
}

.logo{
    width: 475px;
    height: auto;
}

.logo_container{
    align-content: center;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.login-button {
    background-color: #d4a9de;
    border: none;
    color: #F8F8F8;
    padding: 15px 32px;
    font-size: 32px;
    border-radius: 35px;
    margin-top: 2%;
    margin-bottom: 2%;

    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.login-button:hover {
    transform: scale(1.025);
}

.login-button:active {
    background-color: #56335E;
    color: #f8f8f8;
}


.or_text{
    font-size: 32px;
}
