
.img-wrapper {
    position: relative; /* Pozycjonowanie kontenera */
    border: 10px solid #D4A9DE;
    border-radius: 50%;
    width: 150px; /* Stała szerokość kontenera */
    height: 150px; /* Stała wysokość kontenera */
    display: inline-block; /* Zachowaj właściwości kontenera */
    overflow: hidden; /* Ukryj nadmiar obrazu, jeśli będzie wychodził poza kontener */
    padding: 0; /* Brak paddingu w kontenerze */
}

.profilePic {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Utrzymuje proporcje obrazu i wypełnia kontener */
    border-radius: 50%;
    transition: all 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3); /* Przezroczysty czarny overlay */
    opacity: 0; /* Na początku niewidoczny */
    transition: opacity 0.3s ease; /* Płynna zmiana przejrzystości */
}

.overlay svg {
    color: #f8f8f8;
    width: 40px; /* Wielkość ikony */
    height: 40px;
}

.img-wrapper:hover .overlay {
    opacity: 0.9; /* Pokazuje overlay po najechaniu */
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Wycentrowanie poziome */
    align-items: center;     /* Wycentrowanie pionowe */
    gap: 10px;               /* Odstęp między elementami */
    padding-bottom: 40px;
}


.Container{
    display: grid;
    margin-top: 0px;
    padding-top: 0px;
}

.info-box {
    background-color: #F4DFF9;
    border-radius: 10px;
    padding: 10px;
    width: 50vw;
    margin: 10px;
}

.user-data {
    display: grid;
    grid-template-rows: repeat(3, auto); /* Każdy rząd dostosowany do treści */

}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dwie kolumny o równej szerokości */
    padding: 5px 0;
}

.user-data .data-type {
    font-weight: 550;
}

.password {
    text-security: disc; /* Działa tylko w przeglądarce Safari */
    -webkit-text-security: disc; /* Obsługa WebKit (Chrome, Edge, Opera) */
}

a {
    text-decoration: none; /* Usuwa podkreślenie */
    color: inherit;        /* Zachowuje kolor tekstu */
}

a:hover {
    text-decoration: none;
}

.info-box-btn {
    background-color: #F4DFF9;
    border-radius: 10px;
    padding: 10px;
    width: 50vw;
    margin: 10px;

    transition: all 0.3s ease;
}

.info-box-btn:hover {
    transform: scale(1.025);
    background-color: #D4A9DE;
}

.row-right {
    display: flex;            /* Ustawienie kontenera na flexbox */
    justify-content: space-between;  /* Rozstawienie elementów: tekst po lewej, ikona po prawej */
    padding-bottom: 20px;
}

.row-right .icon {
    width: 23px;              /* Szerokość ikony */
    height: auto;             /* Wysokość ikony */
    color: #56335E;           /* Kolor ikony */
    transition: all 0.3s ease;
}

.row-right .icon:hover {
    transform: scale(1.1);
}

