/* MAIN SETTINGS */

@font-face {
    font-family: Alata;
    src: url('../fonts/Alata-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf');
}

body{
    font-family: Inter;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box; /* Zapewnia, że marginesy i padding nie wpłyną na rozmiar elementów */
}

.Container {

    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Pozwala na zawijanie elementów, jeśli nie ma wystarczająco miejsca */
}

.instr{
    width: 100%;
    height: 100%;
    border-radius: 0px;

}
.instr_position{
    position: relative;
    display: inline-block;
    margin-left:25%;
    margin-right:25%;
    margin-top: 50px;
}


.close-btn {
    position: absolute;
    top: 35px; /* Odstęp od góry */
    right: 35px; /* Odstęp od prawej */
    color: #56335E;
    border: none;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.close-btn:hover {
    transform: scale(1.1);
    color: #ffffff;
    text-shadow: #7D7D7D;
    background: none
}


img {
    width: 500px;
    height: auto;
    border-radius: 10%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Alata;
}

p {
    font-family: Inter;
}

a {
    font-family: Inter;
    text-decoration: none; /* Usuwanie podkreślenia z linków */
}

.icon-btn {
    background: none;
}

.btn {
    background-color: #D4A9DE;
    color: #f8f8f8;
    border-radius: 10px;
    padding: 3px 10px 3px;
    margin: 10px;

    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn:hover {
    transform: scale(1.025);
}

.btn:active {
    background-color: #56335E;
    color: #f8f8f8;
}

.btn a {
    color: inherit; /* dziedziczy kolor z .btn */
    text-decoration: none; /* usuwa podkreślenie */
}
.next-btn {
    position: absolute;
    bottom: 35px;
    right: 35px;
    color: #f8f8f8;
    background-color: #D4A9DE;
    border: none;
    border-radius: 30px;
    padding: 10px 25px;
    margin: 10px;
    font-size: 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.next-btn:hover {
    background-color: #56335E;
    color: #f8f8f8;
}


.prev-btn {
    position: absolute;
    bottom: 35px;
    right: 180px;
    color: #56335E;
    background-color: #f8f8f8;
    border-color: #56335E;
    border-style: solid;
    border-width: 4px;
    border-radius: 30px;
    padding: 6px 21px;
    margin: 10px;
    font-size: 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.prev-btn:hover {
    background-color: #56335E;
    color: #f8f8f8;
}

.prev-btn2 {
    position: absolute;
    bottom: 35px;
    right: 250px;
    color: #56335E;
    background-color: #f8f8f8;
    border-color: #56335E;
    border-style: solid;
    border-width: 4px;
    border-radius: 30px;
    padding: 6px 21px;
    margin: 10px;
    font-size: 32px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.prev-btn2:hover {
    background-color: #56335E;
    color: #f8f8f8;
}

/* POPUP SETTINGS */
.Popup {
    width: 750px;
    background-color: #f8f8f8;
    border-radius: 2vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 20px 20px 20px;
    z-index: 1;
    display: flex;

    /* widocznosc startowa */
    visibility: hidden;
    opacity: 0;

    /* animacja */
    transition: opacity 0.3s ease;

    /* Drop shadow */
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.1);  /* Horizontal, Vertical, Blur Radius, Color */
}

.Popup-open {
    visibility: visible;
    opacity: 1;
}

.clickedPet {
    justify-content: center; /* Wyrównanie obrazka i tekstu w poziomie */
    margin-bottom: 20px; /* Odstęp poniżej obrazka */
}

.clickedPet img{
    width: 300px;
    height: auto;
    border-radius: 10%;

    margin-right: 40px; /* Odstęp między obrazem a tekstem */
}

.popupText {
    text-align: left;
}

.Popup h1 {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 20px; /* Odstęp pomiędzy nagłówkiem a tekstem */
}

.Popup p {
    font-size: 16px;
    line-height: 1;
    margin: 0 30px 10px;
}

.Popup .close {
    background: none;
    color:#BDBDBD;

    position: absolute;
    width: 25px;
    height: auto;
    top: 15px;
    right: 20px;

    transition: transform 0.3s ease, color 0.3s ease;
}

.Popup .close:hover {
    transform: scale(1.1);
    color:#858585;
}

/* BAR SETTINGS */
.bar {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start; /* Wyrównanie do lewej */
    align-items: center;
    gap: 20px; /* Dodaje odstęp między elementami */
    width: 100%; /* Zapewnia pełną szerokość */
    padding-left: 13vw; /* Opcjonalny odstęp od lewej */
}

.bar button {
    background: none;
}

.bar .back {
    width: 40px;
    height: auto;
    margin-right: 60px;
    color: #BDBDBD;

    transition: transform 0.3s ease, color 0.3s ease;
}

.bar .back:hover {
    transform: scale(1.1);
    color: #858585;
}

.bar .icon {
    width: 50px;
    height: auto;

    color: #D4A9DE;
}

 /* SUCCESS POPUP */
 .SuccessPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease, opacity 0.3s ease;
    z-index: 1000;
}

.SuccessPopup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.SuccessPopup-open {
    visibility: visible;
    opacity: 1;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.success-icon {
    font-size: 40px;
    color: green;
    margin-bottom: 10px;
}

/* Ukrywa strzałki w polu typu number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Usunięcie strzałek w WebKit (Chrome, Safari) */
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Usunięcie strzałek w Firefox */
}
